.list{
margin-top: 25px;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
justify-content: center;
}

.slider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: left;
    align-content: center;
    margin: 25px;
}

.right-arrow {
    position: relative;
    margin-left: 30px;
    top: 300px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.left-arrow {
    position: relative;
    top: 300px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.left-arrow:hover{
    color: orange;
}

.right-arrow:hover{
    color: orange;
}

.image{
    margin-left: 20px;
    /* width: 80%; */
}

@media screen and (max-width: 760px) {
    .image{
        width: 50%;
    }
}